<% provide(:title, 'Users') %>

<% if @search_users.count >= 1 %>
　<% provide(:headline_text, '検索結果') %>
<% else %>
  <% provide(:headline_text, '全てのユーザー') %>
<% end %>

<h1 class="headline"><%= "#{yield(:headline_text)}" %></h1>

<div class="pull-right">
  <%= form_tag(users_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<% if @search_users.count >= 1 %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-hover" id="table-users">
        <thead>
          <tr>
            <th>名前</th>
          </tr>
        </thead>
        <tbody>
          <% @search_users.each do |user| %>
            <tr>
              <td>
                <%= link_to user.name, user_path(user.id) %>
                <% unless user.admin? %>
                  &nbsp;|&nbsp;
                  <%= link_to "基本情報編集", edit_basic_info_user_path(user.id) %>
                  &nbsp;|&nbsp;
                  <%= 
                    link_to "削除", user, method: :delete,
                    data: { confirm: "「#{user.name}」を削除してよろしいですか？" }
                  %>
                <% end %>
              </td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= will_paginate %>
        <table class="table table-hover" id="table-users">
          <thead>
            <tr>
              <th>名前</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to user.name, user_path(user.id) %>
                  <% unless user.admin? %>
                    &nbsp;|&nbsp;
                    <%= link_to "基本情報編集", edit_basic_info_user_path(user.id) %>
                    &nbsp;|&nbsp;
                    <%= 
                      link_to "削除", user, method: :delete,
                      data: { confirm: "「#{user.name}」を削除してよろしいですか？" }
                    %>
                  <% end %>
                </td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%= will_paginate %>
    </div>
  </div>
<% end %>
